/* Style untuk judul formulir */
.form-title {
  font-size: 24px;
  font-weight: bold;
  margin-bottom: 20px;
}

/* Style untuk label elemen-elemen dalam formulir */
.label {
  font-weight: bold;
  display: block;
  margin-bottom: 5px;
}

/* Style untuk input elemen */
.input {
  width: 100%;
  padding: 10px;
  margin-bottom: 10px;
}

/* Style untuk pilihan agama */
.select-religion {
  width: 100%;
  padding: 10px;
  margin-bottom: 10px;
}

/* Style untuk pilihan bahasa yang dikuasai */
.select-language {
  width: 100%;
  padding: 10px;
  margin-bottom: 10px;
}


